{% load i18n %}

{% if asset_transitions_enabled %}
<input type="hidden" id="transition-type" name="transition_type">
<span class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" id="save-and-btn">
      {% trans "Save and..." %}
      <span class="caret"></span>
    </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="save-and-btn">
      {% for transition in transitions %}
        <li><a class="transition-link" data-transition="{{ transition.slug }}">{{ transition.slug }}</a></li>
      {% endfor %}
  </ul>
</span>
{% endif %}
