{% extends 'assets/edit_part.html' %}
{% load bob %}
{% load i18n %}

{% block part_form_title %}Add parts{% endblock %}

{% block multivalue_field %}
    <div class="well fieldset">
        <h6>{{ form.sn.label }}</h6>
        <div class="control-group{% if form.sn.errors %} error{% endif %}">
            {{ form.sn }}
            {% if form.sn.errors %}
                <div class="help-block">
                    {% for error in form.sn.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
