{% extends 'assets/base.html' %}
{% load bob %}
{% load i18n %}

{% block form_title %}Add parts{% endblock %}

{% block content %}
    <div class="row-fluid">
        <h3>{% block part_form_title %}Edit parts{% endblock %}</h3>
    </div>

    <form id="add-part" class="form form-horizontal" method="POST">
        {% csrf_token %}

        <div class="row-fluid">
            <div class="span6">
                {% for fieldset_label, fields in form.fieldsets.items %}
                    <div class="well fieldset">
                        <h6>{{ fieldset_label }}</h6>
                        {% for field_name in fields %}
                            {% with field=form|get_item:field_name %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% else %}
                                    {% field_wrapper field %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="span6">
                {% block multivalue_field %}{% endblock %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="form-actions">
                    <button name="part" type="submit" class="btn btn-primary">
                        {% trans "Save" %}
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
