{% extends 'assets/add_assets.html' %}
{% load assets bob i18n history_tags staticfiles %}

{% block form_title %}{% trans "Edit device" %}{% endblock %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'assets/css/mobile.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'assets/js/mobile.js' %}">
  </script>
{% endblock %}


{% block additional_inputs %}
  {% for field in additional_info %}
    {% field_wrapper field %}
  {% endfor %}
  {% data_center_links asset %}

{% endblock %}

{% block tabular_info %}

{% include 'assets/attachment_table.html' with attachment_parent=asset parent_name='asset'%}
  {% status_history asset %}
  {% transition_history asset %}
{% endblock %}

{% block parts %}
  <div>
    <h5>{% trans "Assigned parts" %}</h5>

    {% if asset.parts.all %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>{% trans "model" %}</th>
            <th>{% trans "sn" %}</th>
            <th>{% trans "order number" %}</th>
            <th>{% trans "price" %}</th>
            <th>{% trans "service" %}</th>
            <th>{% trans "environment" %}</th>
            <th>{% trans "warehouse" %}</th>
        </tr>
        {% for part in asset.parts.all %}
        <tr>
            <td>{{part.model|default:'-'}}</td>
            <td><a href="{{part.url}}">{{part.sn}}</a></td>
            <td>{{part.order_no}}</td>
            <td>{{part.price}}</td>
            <td>{{part.service}}</td>
            <td>{{part.part_environment}}</td>
            <td>{{part.warehouse}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="pull-right">
      <a href="{% url change_parts mode=mode asset_id=asset.id %}" class="btn btn-primary">{% trans "asset's parts flow" %}</a>
    </div>
  </div>
{% endblock %}
