{% extends 'assets/base.html' %}

{% block base_sidebar %}{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{{ STATIC_URL }}assets/js/parts.js"></script>
{% endblock %}

{% block content %}

    <div class="row-fluid page-header">
        <h1>
            Parts flow <small>selecting serial numbers</small>
        </h1>
    </div>

    <div class='row-fluid'>
        <p class='lead'>
            For asset: <a href='{{params.asset.url}}'>{{params.asset}}</a><br>
        </p>

        <p class='lead'>
            Enter serial numbers of parts which you want to attach or detach
            from asset:
        </p>
    </div>

	<form method="POST" class="row-fluid" class="formset">
		{% csrf_token %}
		<div class="span12">
			<div class="row-fluid">
				<div class="span6">
					<div class="well fieldset in-formset">
						<h6>Attaching parts to asset</h6>
						{{ params.in_formset.management_form }}
						<table class="table table-striped table-condensed">
							{% for form in params.in_formset %}
								<tr>
									<td data-url="{% url api_parts %}" data-target="sn-info">{{ form.sn }}</td>
									<td class="sn-info"></td>
								</tr>
							{% endfor %}
						</table>
						<button class="btn btn-success" data-add>+</button>
					</div>
				</div>
				<div class="span6">
					<div class="well fieldset out-formset">
						<h6>Detaching parts from asset</h6>
						{{ params.out_formset.management_form }}
						<table class="table table-striped table-condensed">
							{% for form in params.out_formset %}
							<tr>
								<td data-url="{% url api_parts %}" data-target="sn-info">{{ form.sn }}</td>
								<td class="sn-info"></td>
							</tr>
							{% endfor %}
						</table>
						<button class="btn btn-success" data-add>+</button>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<button type="submit" class="btn btn-primary span12">Save</button>
			</div>
		</div>
	</form>
{% endblock %}
